@charset "UTF-8";
::-webkit-scrollbar {
  width: 7px;
  /* ширина для вертикального скролла */
  height: 7px;
  /* высота для горизонтального скролла */
  background: rgba(24, 52, 56, 0.5);
  opacity: 0.35;
}

::-webkit-scrollbar-thumb {
  background-color: #0C3A42;
  border-radius: 14px;
}

body {
  background: #03262D;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #D0FFF7;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 67px;
  color: var(--main-colour);
  background: #011D22;
  padding-top: 5.5px;
  padding-right: 30px;
  padding-left: 30px;
}

.header__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_title {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.logo {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.header_text {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.settingsMenuBtn {
  top: 22px;
  right: 29px;
  width: 26px;
  height: 20px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.settingsMenuBtn span {
  width: 26px;
  height: 3px;
  background-color: #D0FFF7;
  display: inline-block;
  border-radius: 10px;
}

.lang-mode-btn {
  width: 117px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(90, 90, 90, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  margin-right: 35px;
  transition: 0.3s;
  user-select: none;
  position: relative;
}

.lang-mode-btn:hover {
  background: rgba(64, 64, 64, 0.15);
}

.lang-mode-btn:active {
  background: rgba(80, 80, 80, 0.15);
}

.lang_mode {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.find-prog-lang {
  position: absolute;
  width: 266px;
  height: 100vh;
  background: rgba(40, 40, 40, 0.15);
  border: 0.5px solid rgba(130, 130, 130, 0.2);
  box-sizing: border-box;
  padding: 13px 10px 0px 10px;
  z-index: 999999999999;
  filter: drop-shadow(1px 0px 8px rgba(49, 163, 142, 0.03));
  backdrop-filter: blur(25px);
  color: #fff;
  top: 0;
  right: 0;
  font-size: 16px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.find-prog-lang__disable {
  width: 0;
  right: -400px;
  height: 0px;
}

.find-prog-lang__body {
  height: 100%;
  overflow-y: auto;
}

.find-prog-lang__cross {
  margin-bottom: 12px;
  float: right;
  display: inline-block;
  cursor: pointer;
}

.find-prog-lang__search {
  width: 246px;
  height: 32px;
  background: rgba(250, 253, 255, 0.18);
  border: 1px solid #263A3E;
  box-sizing: border-box;
  border-radius: 37px;
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
}

.find-prog-lang__search-icon {
  width: 37px;
  height: 100%;
  background: url(../../img/search.svg) 50% 50% no-repeat;
}

.find-prog-lang__input {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.find-prog-lang__lang-list li {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: 0.3s;
  padding: 7px 0 7px 15px;
}

.find-prog-lang__lang-list li:hover {
  background: rgba(255, 255, 255, 0.05);
}

.find-prog-lang__current {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.42);
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.under-title {
  font-size: 10px;
  opacity: 0.7;
}

.find-prog-lang::-webkit-scrollbar {
  width: 7px;
  /* ширина для вертикального скролла */
  height: 7px;
  /* высота для горизонтального скролла */
  background: rgba(24, 52, 56, 0);
}

.find-prog-lang::-webkit-scrollbar-thumb {
  background-color: rgba(21, 88, 100, 0.4);
  border-radius: 14px;
}

.settingsMenu {
  position: absolute;
  height: 100%;
  width: 0px;
  z-index: 1;
  background-color: #142C36;
  top: 0;
  right: 0;
  transition: 0.3s;
}

.settingsMenu .menu_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.settingsMenu .menu_wrapper h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.settingsMenu .menu_wrapper ul {
  width: 100%;
  height: 100%;
}

.settingsMenu .menu_wrapper ul div {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.settingsMenu .menu_wrapper ul div:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.settingsMenu .menu_wrapper ul li {
  margin-left: 24px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  height: auto;
  display: flex;
  align-items: center;
}

.settingsMenu .menu_wrapper ul .item::before {
  content: url("../../img/menu-icons/download.svg");
  bottom: 3px;
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item1::before {
  content: url("../../img/menu-icons/save.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item2::before {
  content: url("../../img/menu-icons/1w.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item3::before {
  content: url("../../img/menu-icons/2w.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item4::before {
  content: url("../../img/menu-icons/3w.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item5::before {
  content: url("../../img/menu-icons/fb.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item6:before {
  content: url("../../img/menu-icons/hh.svg");
  margin-right: 15px;
}

.settingsMenu .menu_wrapper ul .item6_hide:before {
  content: url("../../img/menu-icons/show.svg");
  margin-right: 15px;
}

.settingsMenuActive {
  width: 240px;
}

.close_menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}

.feedback-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(37, 37, 37, 0.58);
  backdrop-filter: blur(10px);
  z-index: 5;
  transition: 0.5s;
  transform: translateY(-90%) scale(0);
  z-index: 10;
}

.colse_pop_up {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(1.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.active {
  transition: all 0.5s;
  transform: translate(0%) scale(100%);
}

.feedback_menu {
  width: 339px;
  height: 296px;
  background: #011D22;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.feedback_menu__h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: inline-block;
  margin: 30px 0 40px 0;
}

.feedback_menu__text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 223px;
  display: inline-block;
}

.feedback_menu_btn {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: block;
  margin: 35px auto;
  border: 1px solid #31A38E;
  box-shadow: 0px 5px 16px 2px rgba(49, 163, 142, 0.35);
  border-radius: 5px;
  width: 156px;
  height: 33px;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.feedback_menu_btn:hover {
  background: #31A38E;
}

.feedback_menu_btn:active {
  box-shadow: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tabs {
  display: flex;
  align-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs .tabs::-webkit-scrollbar {
  display: none;
}

.tabs:hover ::-webkit-scrollbar {
  display: block;
  width: 5px;
  /* ширина для вертикального скролла */
  height: 5px;
  /* высота для горизонтального скролла */
  background: rgba(24, 52, 56, 0.5);
  opacity: 0.30;
}

.tabs:hover ::-webkit-scrollbar-thumb {
  display: block;
  background-color: #0C3A42;
  border-radius: 14px;
  opacity: 0.5;
}

.tabs .create-tab {
  transition: 0.3s;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}

.create-tab:hover {
  background-color: #092f36;
}

.tabs-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 35px;
  align-content: center;
  transition: 0.3s;
  width: 120px;
}

.tab:hover {
  background: rgba(6, 32, 36, 0.4);
}

.tab p {
  margin-left: 15px;
  cursor: pointer;
  user-select: none;
  font-weight: 300;
  font-size: 12px;
}

.tab div {
  margin-left: 5px;
  margin-right: 15px;
  cursor: pointer;
  user-select: none;
  line-height: 10px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #072328;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.content .content-value {
  color: #fff;
  font-size: 35px;
}

.active {
  transition: 0.2s;
  background: #062024;
  animation: tabOpenAnimate 0.3s ease forwards;
  transition: 0.2s;
}

.active:hover {
  background-color: #062024;
}

@keyframes tabOpenAnimate {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.tab-content-active {
  display: flex;
}
