* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #fff;
  transition: 0.2s;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #03262D;
  justify-content: center;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding: 0 110px;
}

.notes__container {
  display: flex;
  justify-content: space-evenly;
}

.notes__search {
  width: 434px;
  height: 45px;
  background: url("img/search.svg") 10px 50% no-repeat;
  background-color: #0B181E;
  border: 0.6px solid rgba(255, 255, 255, 0.37);
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 42px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #68757B;
}

.notes__list {
  margin: 25px 0 0;
  width: 430px;
}

.notes__note {
  background: #0B181E;
  border: 1px solid rgba(255, 255, 255, 0.37);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 33px 17px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.notes__note-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #68757B;
  margin-bottom: 3px;
}

.notes__last-changes {
  font-weight: 600;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #303537;
}

.notes__btn-note-menu {
  z-index: 5;
  position: relative;
  width: 33px;
  height: 8px;
  cursor: pointer;
  display: flex;
  padding: 10px 0 18px;
  background: none;
}

.notes__btn-note-menu span {
  left: 0;
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  background-color: #d1ebe5;
}

.notes__btn-note-menu span:first-child {
  left: 12px;
}

.notes__btn-note-menu span:nth-child(2) {
  left: 24px;
}

.notes__body-note-menu {
  display: none;
}

.notes__body-note-menu.active {
  display: block;
  transform: translate(-170px, 35px);
  min-width: 235px;
}

.notes__note-edits {
  background: #0D1B22;
  border: 0.6px solid rgba(255, 255, 255, 0.37);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 33px;
  cursor: default;
}

.notes__note-edit {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 17px;
  cursor: pointer;
}

.notes__note-edit:last-child {
  margin: 0;
}

.notes__note-edit img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.notes__btn-add-note {
  width: 430px;
  padding: 18px 0;
  background: rgba(0, 0, 0, 0.53);
  border: 1px solid rgba(234, 238, 15, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 0px 13px 3px rgba(234, 238, 15, 0.34);
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.notes__btn-add-note:hover {
  background-color: rgba(234, 238, 15, 0.8);
}

.notes__view-container {
  width: 520px;
  height: 555px;
  padding: 38px 25px 25px;
  background: #0B181E;
  border: 0.6px solid rgba(255, 255, 255, 0.37);
  box-sizing: border-box;
  border-radius: 5px;
}

.notes__veiw-img {
  width: 308px;
  height: 308px;
}

.notes__view-notes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notes__view-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.notes__view-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.notes__view-btn {
  background: rgba(0, 0, 0, 0.34);
  border: 1px solid rgba(234, 238, 15, 0.8);
  box-sizing: border-box;
  box-shadow: 0px 0px 13px 3px rgba(234, 238, 15, 0.3);
  border-radius: 3px;
  align-self: flex-end;
  padding: 14px 39px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.notes__view-btn:hover {
  background-color: rgba(234, 238, 15, 0.8);
}
